<header>
    <!-- Top bar with contact info and social media icons -->
    <div class="top-bar">
      <div class="left">
        <span class="icon-phone"></span><span>+5376440572</span>
      </div>
      <div class="right">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-telegram"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-x-twitter"></i></a>
        
      </div>
    </div>
  
    <!-- Main navigation bar -->
    <div class="main-nav">
      <div class="left">
        <img src="assets/logo.png" alt="Logo" class="logo">
      </div>
      <div class="right">
        <a routerLink="/home" class="nav-button">Inicio</a>
        <a routerLink="/tarifas" class="nav-button">Nuestras Tarifas</a>
        <a routerLink="/acerca" class="nav-button">Acerca de Nosotros</a>
        <a routerLink="/contacto" class="nav-button">Contáctenos</a>
      </div>
    </div>
  </header>
  