header {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px 20px;
    font-size: 14px;
  }
  
  .top-bar .left {
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  
  .top-bar .left .icon-phone {
    margin-right: 8px;
    
  }
  
  .top-bar .right a {
    margin-left: 15px;
    color: white;
    text-decoration:solid;
    font-size: 20px;
  }
  .top-bar .right a:hover {
    color: yellow; /* Cambia el color al de Facebook al pasar el ratón por encima */
    
  }
  
  .top-bar .right .fa-icon {
    margin-left: 15px;
    font-size: 30px;
  }
  
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .main-nav .left .logo {
    height: 50px;
  }
  
  .main-nav .right .nav-button {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    border: 1px solid transparent;
    padding: 10px 15px;
  }
  
  .main-nav .right .nav-button:hover {
    background-color: #f1f1f1;
    border-color: #ccc;
  }
  
  /* Estilos para los iconos */
  .icon-phone::before {
    content: "\260E"; /* Símbolo de teléfono */
    color: white;
  }
  .logo {
    width: 200px; /* Ajusta el ancho según lo necesites */
    height:auto; /* Mantiene la proporción de la imagen */
    object-fit: cover;
}
