<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-light">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="social-icons">
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-x-twitter"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3 d-flex align-items-center justify-content-between">
        <!-- Grid column: Company Info -->
        <div class="col-md-3 col-lg-3 col-xl-3 mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company Name
          </h6>
          <p class="justificado">
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column: Products and Useful Links -->
        <div class="col-md-6 col-lg-6 col-xl-6 mb-4 d-flex justificado">
          <div class="d-flex w-100 justificado">
            <!-- Products -->
            <div class="products">
              <h6 class="text-uppercase fw-bold mb-4">
                Products
              </h6>
              <p>
                <a href="#!" class="text-reset">Angular</a>
              </p>
              <p>
                <a href="#!" class="text-reset">React</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Vue</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Laravel</a>
              </p>
            </div>
            <!-- Useful Links -->
            <div class="useful-links">
              <h6 class="text-uppercase fw-bold mb-4">
                Useful Links
              </h6>
              <p>
                <a href="#!" class="text-reset">Pricing</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Settings</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Orders</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Help</a>
              </p>
            </div>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column: Contact -->
        <div class="col-md-3 col-lg-3 col-xl-3 mb-md-0 mb-4 text-md-right">
          
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info&#64;example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +53 58895628</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        
      
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05); text-align: center;">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://example.com/">Suarez Computer Solutions</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
