<div class="banner">
    <div class="content">
      <h2>¿Por qué elegirnos?</h2>
      <div class="feature">
        <div class="feature-text">
          <h3>1. Seguridad</h3>
          <p>Proveemos las mejores prácticas para asegurar tus datos y mantener tus activos seguros.</p>
        </div>
        <fa-icon [icon]="faShieldAlt" class="feature-icon"></fa-icon>
      </div>
      <div class="feature">
        <div class="feature-text">
          <h3>2. Optimización</h3>
          <p>Optimizamos tus recursos para ofrecer el mejor rendimiento posible en todas las plataformas.</p>
        </div>
        <fa-icon [icon]="faCog" class="feature-icon"></fa-icon>
      </div>
      <div class="feature">
        <div class="feature-text">
          <h3>3. A tu disposición</h3>
          <p>Estamos disponibles para ofrecer soporte y asistencia cuando lo necesites.</p>
        </div>
        <fa-icon [icon]="faHandsHelping" class="feature-icon"></fa-icon>
      </div>
    </div>
  </div>
  