

<main class="main">

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-header></app-header>
<app-banner></app-banner>
<app-carousel></app-carousel>
<app-compromisos-banner></app-compromisos-banner>
<app-equipo-banner></app-equipo-banner>
<app-why-choose-us></app-why-choose-us>
<app-dynamic-banner></app-dynamic-banner>
<app-footer></app-footer>
<router-outlet></router-outlet>
