<div class="banner">
    <h2 class="title">Nuestros Compromisos</h2>
    <div class="content">
      <div class="left">
        <div class="item">
          <fa-icon [icon]="faResponsabilidad"></fa-icon>
          <h3>Responsabilidad</h3>
          <p>Nos comprometemos a ser responsables en todos nuestros servicios.</p>
        </div>
        <div class="item">
          <fa-icon [icon]="faActualizaciones"></fa-icon>
          <h3>Actualizaciones</h3>
          <p>Mantenemos nuestras aplicaciones siempre actualizadas.</p>
        </div>
        <div class="item">
          <fa-icon [icon]="faPagoSeguro"></fa-icon>
          <h3>Pago seguro</h3>
          <p>Ofrecemos métodos de pago seguros y confiables.</p>
        </div>
      </div>
      <div class="right">
        <div class="item">
          <fa-icon [icon]="faBaseDatos"></fa-icon>
          <h3>Base de datos</h3>
          <p>Tenemos una base de datos robusta y segura.</p>
        </div>
        <div class="item">
          <fa-icon [icon]="faMultilingue"></fa-icon>
          <h3>Multilingue</h3>
          <p>Nuestros servicios están disponibles en varios idiomas.</p>
        </div>
        <div class="item">
          <fa-icon [icon]="faAtencionHumana"></fa-icon>
          <h3>Atención al cliente humana</h3>
          <p>Brindamos atención al cliente personalizada y humana.</p>
        </div>
      </div>
    </div>
    <div class="button-container">
        <button (click)="goToMoreInfo()">Sepa más</button>
      </div>
  </div>
  